<ion-header class="ion-no-border" #header>
    <div class="wrapper">
        <h1 class="title">Multipuertas</h1>
        <ul class="menu">
            <li class="item" (click)="scrollTo(merik)">Merik</li>
            <li class="item" (click)="scrollTo(erreka)">Erreka</li>
            <li class="item" (click)="scrollTo(liftmaster)">LiftMaster</li>
        </ul>
    </div>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="listenerScroll($event)">
    <div class="container-welcome">
        <div class="background-welcome"></div>
        <div class="savana"></div>
        <div class="wrapper">
            <div class="text-welcome">Venta e instalaciones de motores para garage</div>
        </div>
    </div>

    <div class="container-gates" #merik>
        <div class="wrapper">
            <h2>Merik</h2>
            <div class="gates-list">
                <div class="item">
                    <div class="image">
                        <img src="/assets/images/gate-merik-1.png" alt="">
                    </div>
                    <div class="content">
                        Merik mod. 511
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="/assets/images/gate-merik-1.png" alt="">
                    </div>
                    <div class="content">
                        Merik mod. 411W
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="/assets/images/gate-merik-1.png" alt="">
                    </div>
                    <div class="content">
                        Merik mod. 711
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="/assets/images/gate-merik-1.png" alt="">
                    </div>
                    <div class="content">
                        Motor de pistones G Bat 300
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-gates" #erreka>
        <div class="wrapper">
            <h2>Erreka</h2>
            <div class="gates-list">
                <div class="item">
                    <div class="image">
                        <img src="/assets/images/gate-merik-1.png" alt="">
                    </div>
                    <div class="content">
                        Porton
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="/assets/images/gate-merik-1.png" alt="">
                    </div>
                    <div class="content">
                        Porton
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-gates" #liftmaster>
        <div class="wrapper">
            <h2>LiftMaster</h2>
            <div class="gates-list">
                <div class="item">
                    <div class="image">
                        <img src="/assets/images/gate-merik-1.png" alt="">
                    </div>
                    <div class="content">
                        Lift-Master mod. 1210E
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="/assets/images/gate-merik-1.png" alt="">
                    </div>
                    <div class="content">
                        Lift-Master mod. 7511W a 24V
                    </div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="/assets/images/gate-merik-1.png" alt="">
                    </div>
                    <div class="content">
                        Motor de pistones lift-master mod. LA-350 a 24V
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="wrapper">
            <ul>
                <li>
                    <a href="https://web.facebook.com/Automatizaci%C3%B3n-de-portones-MULTI-Puertas-250270819197013"
                       target="_blank">
                        <ion-icon name="logo-facebook"></ion-icon>
                        <span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="tel:9611695501">
                        <ion-icon name="call-outline"></ion-icon>
                        <span>961-169-5501</span>
                    </a>
                </li>
                <li>
                    <a href="https://wa.me/+529611695501?text=Hola ">
                        <ion-icon name="logo-whatsapp"></ion-icon>
                        <span>961-169-5501</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</ion-content>

