.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

ion-header {
    position: fixed;
    background: rgba(black, 0);
    transition: all 0.3s;

    &:hover {
        background: rgba(black, 0.5);
    }

    &.contrast {
        background: rgba(black, 0.5);
    }

    .wrapper {
        display: flex;

        .title {
            margin: 0 0 0 15px;
            flex: 1;
            display: flex;
            align-items: center;
            color: white;
            font-size: 20px;
        }

        .menu {
            margin: 0 15px 0 0;
            padding: 0;
            display: flex;
            align-items: center;


            .item {
                list-style: none;
                padding: 10px;
                cursor: pointer;
                margin: 2px;
                color: white;

                a {
                    text-decoration: none;
                    color: white;
                }
            }

        }
    }

}

ion-content {
    .background-welcome {
        background-image: url("/assets/images/garage.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        position: relative;

        .text-welcome {
            position: absolute;
            bottom: 0;
            margin-bottom: 20%;
            margin-left: 30px;
            font-size: 50px;
            color: white;
            max-width: 50%;
        }
    }

    .container-gates {
        margin: 100px 0;

        .gates-list {
            display: flex;

            .item {
                width: 300px;
                margin: 10px;
                min-height: 300px;
                box-shadow: 0 0 10px #AAA;
                border-radius: 10px;
                overflow: hidden;
                background: white;

                .content {
                    padding: 10px;
                    text-align: center;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .footer {

        ul {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;

            li {
                list-style: none;
                padding: 10px;
                margin: 10px;
                display: flex;
                align-items: center;
                font-size: 20px;

                a {
                    color: #444;
                    text-decoration: none;

                    span {
                        margin-left: 10px;
                    }
                }

            }
        }
    }
}

@media only screen and (max-width: 600px) {
    ion-header {
        background: rgba(black, 0.5);

        .wrapper {
            .title {
                font-size: 18px;
            }

            .menu {

                .item {
                    padding: 10px 6px;
                    margin: 0;
                }
            }
        }
    }

    ion-content {
        .background-welcome {

            .text-welcome {
                max-width: 100%;
            }
        }


        .container-gates {


            .gates-list {
                flex-direction: column;
                padding: 10px;

                .item {
                    width: 100%;
                    margin: 0 0 10px 0;
                }
            }
        }

        .footer {
            ul {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
