<ion-header class="ion-no-border" #header>
    <div class="container">
        <h1 class="title">Multipuertas</h1>
        <ul class="menu">
            <li class="item" (click)="scrollTo(merik)">Merik</li>
            <li class="item" (click)="scrollTo(erreka)">Erreka</li>
            <li class="item" (click)="scrollTo(liftmaster)">LiftMaster</li>
        </ul>
    </div>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="listenerScroll($event)">
    <div class="container-welcome">
        <div class="column-left">
            <div>
                <div class="title">Multipuertas</div>
                <div class="label">Venta e instalaciones de motores para garage</div>
            </div>
        </div>
        <div class="column-right">
            <img class="image" src="/assets/images/gate-merik-1.png" alt="" width="400">
        </div>
    </div>

    <div class="container-gates" #merik *ngIf="gateMerikList.length">
        <div class="wrapper">
            <h2>Merik</h2>
        </div>

        <div class="gates-list">
            <div class="item" *ngFor="let gate of gateMerikList">
                <div class="content">
                    <div class="image">
                        <img [src]="gate.image" alt="">
                    </div>
                    <div class="name">{{gate.name}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-gates" #erreka *ngIf="gateErrekaList.length">
        <div class="wrapper">
            <h2>Erreka</h2>
        </div>

        <div class="gates-list">
            <div class="item" *ngFor="let gate of gateErrekaList">
                <div class="content">
                    <div class="image">
                        <img [src]="gate.image" alt="">
                    </div>
                    <div class="name">{{gate.name}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-gates" #liftmaster *ngIf="gateLiftMasterList.length">
        <div class="wrapper">
            <h2>LiftMaster</h2>
        </div>

        <div class="gates-list">
            <div class="item" *ngFor="let gate of gateLiftMasterList">
                <div class="content">
                    <div class="image">
                        <img [src]="gate.image" alt="">
                    </div>
                    <div class="name">{{gate.name}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="wrapper">
            <ul>
                <li>
                    <a href="https://web.facebook.com/Automatizaci%C3%B3n-de-portones-MULTI-Puertas-250270819197013"
                       target="_blank">
                        <ion-icon name="logo-facebook"></ion-icon>
                        <span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="tel:9611695501">
                        <ion-icon name="call-outline"></ion-icon>
                        <span>961-169-5501</span>
                    </a>
                </li>
                <li>
                    <a href="https://wa.me/+529611695501?text=Hola ">
                        <ion-icon name="logo-whatsapp"></ion-icon>
                        <span>961-169-5501</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</ion-content>

